---
import Layout from '../layouts/Layout.astro'
---

<Layout title="自己紹介 | JS2FZH" description="JS2FZH">
  <h2>自己紹介</h2>
  <h3>名前</h3>
  <p>JS2FZH</p>
  <h3>年齢</h3>
  <p>18歳 (2005年5月生まれ)</p>
  <h3>所属</h3>
  <ul>
    <li><a href="https://www.uec.ac.jp" target="_blank">電気通信大学</a> 情報理工学域 Ⅱ類 ('24入学)</li>
    <li><a href="https://www.ja1zgp.com/" target="_blank">JA1ZGP 無線部(予定)</a></li>
    <li><a href="https://www.koken.club.uec.ac.jp" target="_blank">工学研究部(予定)</a></li>
  </ul>
  <h3>好きなこと</h3>
  <p>いろいろ</p>
  <p></p>
  <h3>苦手なこと</h3>
  <p>興味のないことの暗記は、苦手というか入っていかないです。</p>
  <p></p>
</Layout>
