---
import Layout from '../layouts/Layout.astro'
---

<Layout title="自己紹介 | JS2FZH" description="JS2FZH">
  <h2>自己紹介</h2>
  <h3>名前</h3>
  <p>JS2FZH</p>
  <h3>年齢</h3>
  <p>18歳 (2005年5月生まれ)</p>
  <h3>QTH 生息地</h3>
  <p>JCC:110113 神奈川県横浜市緑区 (R06.3～)</p>
  <h3>所属</h3>
  <ul>
    <li><a href="https://www.uec.ac.jp" target="_blank">電気通信大学</a> 情報理工学域 Ⅱ類 ('24入学)</li>
    <li><a href="https://www.ja1zgp.com/" target="_blank">JA1ZGP 無線部(予定)</a></li>
    <li><a href="https://www.koken.club.uec.ac.jp" target="_blank">工学研究部(予定)</a></li>
  </ul>
  <h3>経歴</h3>
  <ul>
    <li><a href="https://twitter.com/ja2ydv" target="_blank">JA2YDV 南山高等・中学校男子部アマチュア無線同好会</a>  三代目部長</li>
  </ul>
  <h3>趣味</h3>
  <ul>
    <li>アマチュア無線</li>
    <li>マイクロ波工学</li>
    <li>電子工作</li>
    <li>プログラミング</li>
    <li>PC関係</li>
  </ul>
  <h3>好きなこと</h3>
  <p>いろいろ</p>
  <p></p>
  <h3>苦手なこと</h3>
  <p>興味のないことの暗記は、苦手というか入っていかないです。</p>
  <p></p>
</Layout>
