---
import Layout from '../layouts/Layout.astro'
---

<Layout title="SNS | JS2FZH" description="JS2FZH">
    <h2>アマチュア無線</h2>
    <h3>コールサイン</h3>
    <p>JS2FZH</p>
    <h3>運用バンド</h3>
    <p>144,430,1200 ('24.4～)</p>
    <p>7,14,21,28,50,144,430,1200 (～'24.3)</p>
    <h3>運用モード</h3>
    <p>CW(基本欧文 和文は練習中),FM,SSB(,AM,FT8)</p>
    <h3>QSLポリシー</h3>
    <p>対応: BURO,eQSL,HQSL,LoTW</p>
    <p>交信時に言及した場合はその通りにします。</p>
    <p>他は、当局に届いた紙QSLのみ、送り返します。</p>
    <p>電子QSLは基本全アップロードしています。</p>
    <p>紙QSLの送付は大歓迎です。</p>
    <p>遠慮なく送ってください。</p>
    <p>各局のQSLカードを見るのを、楽しみにしています。</p>
</Layout>