---
import { Picture } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import profileImg from '../assets/js2fzh_icon.jpg'
---

<Layout title="JS2FZH" description="JS2FZH" >
  <Card>
    <div class="text-center">
      <Picture
          src={profileImg}
          alt="プロフィール画像"
          formats={['avif', 'webp']}
          loading="eager"
          class="profile-img"
      />
      <div class="name">JS2FZH</div>
    </div>
  </Card>
  <a href="https://info.flagcounter.com/N5bJ"><img src="https://s11.flagcounter.com/count2/N5bJ/bg_FFFFFF/txt_000000/border_CCCCCC/columns_6/maxflags_12/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
</Layout>

<style>
  .text-center {
    background-image: url(../assets/js2fzh_header.jpg);
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
    background-size: cover;
    background-position: center;
    text-align: center;
    box-shadow: inset 0 0 5px 5px #e0f2fe;
  }
  .profile-img {
    width: 25vw;
    height: 25vw;
    max-width: 200px;
    max-height: 200px;
    border-radius: 100%;
    border: 3px solid var(--color-accent);
  }
  .name {
    margin: 1rem auto 0 auto;
    font-size: 1.33rem;
    width: fit-content;
    color: #ffffff;
  }
  .name:after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--color-accent);
    margin: 0.25rem auto 0 auto;
  }
</style>
