---
import Layout from '../layouts/Layout.astro'
---

<Layout title="SNS | JS2FZH" description="JS2FZH">
  <h2>SNS</h2>
  <h3>Twitter</h3>
  <p>本垢兼無線垢</p>
  <p><a href="https://twitter.com/js2fzh" target="_blank">@js2fzh</a></p>
  <p>大学垢</p>
  <p><a href="https://twitter.com/js2fzh_uec24" target="_blank">@js2fzh_uec24</a></p>
  <h3>Instagram</h3>
  <p>テキトーにツイッターの画像を貼ったりしてます。</p>
  <p><a href="https://instagram.com/js2fzh" target="_blank">@js2fzh</a></p>
  <h3>qrz.com</h3>
  <p><a href="https://www.qrz.com/db/JS2FZH" target="_blank">JS2FZH</a></p>
</Layout>
